.wp-block-ninja-blocks-social-sharing {
  &.nb-sharing-icon-only{
    &.nb-sharing-button-small{
        a{
          height: 40px;
          width: 40px;
          line-height: 45px;
          font-size: 18px;
        }
    }
    
    &.nb-sharing-button-medium{
     a{
       height: 50px;
       width: 50px;
       line-height: 55px;
       font-size: 20px;
     }
    }
    
    &.nb-sharing-button-large{
      a{
        height: 70px;
        width: 70px;
        line-height: 75px;
        font-size: 30px;
      }
    }
    
    ul{
      li{
        a{
          span{
            display: none;
          }
        }
      }
    }
  }
  &.nb-sharing-text-only{

    &.nb-sharing-button-small{
      a{
        padding: 5px 10px;
      }
    }

    &.nb-sharing-button-medium{
     a{
       padding: 8px 15px;
     }
    }

    &.nb-sharing-button-large{
      a{
        padding: 10px 20px;
      }
    }
    
    ul{
      li{
        a{
          i{
            display: none;
          }
        }
      }
    }
  }
  &.nb-sharing-icon-text{
    &.nb-sharing-button-small{
      a{
        padding: 5px 10px;
        i{
          padding-right: 5px;
          font-size: 16px;
        }
      }
    }

    &.nb-sharing-button-medium{
      a{
        padding: 8px 15px;
        i{
          font-size: 18px;
        }
      }
    }

    &.nb-sharing-button-large{
      a{
        padding: 10px 20px;
        i{
          font-size: 18px;
        }
      }
    }
    ul{
      li{
        a{
          padding: 10px 20px;
          i{
            padding-right: 10px;
          }
        }
      }
    }
  }
  
  &.nb-sharing-icon-square{
    a{
      border-radius: 0;
    }
  }
  &.nb-sharing-icon-rounded-square{
    a{
      border-radius: 8px;
    }
  }
  &.nb-sharing-icon-circle{
    a{
      border-radius: 100px;
    }
  }
  &.nb-sharing-icon-color-social{
    a.nb-share-facebook{
      border: 1px solid #3b5999;
      background-color: #3b5999;
    }
    a.nb-share-twitter{
      border: 1px solid #1ca1f3;
      background-color: #1ca1f3;
    }
    a.nb-share-google{
      border: 1px solid #dc4b45;
      background-color: #dc4b45;
    }
    a.nb-share-linkedin{
      border: 1px solid #0077b5;
      background-color: #0077b5;
    }
    a.nb-share-pinterest{
      border: 1px solid #bd091c;
      background-color: #bd091c;
    }
    a.nb-share-reddit{
      border: 1px solid #ff4500;
      background-color: #ff4500;
    }
  }
  
  ul.nb-social-sharing-links{
    margin: 0;
    padding: 0;
    list-style: none !important;
    li{
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 10px;
      a{
        font-size: 20px;
        border: 1px solid #000;
        background-color: #000;
        color: #fff;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        box-shadow: none;
        &:hover{
          box-shadow: none;
        }
      }
      &:last-child{
        margin-right: 0;
        margin-bottom: 0;
      }
    }
    
  }
}